version: "3.8"

services:
  app:
    build: .
    container_name: devops-app
    expose:
      - "3000"
    restart: always

  nginx:
    image: nginx:alpine
    container_name: devops-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app
    restart: always