<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
  <h2>DevOps Tutorial</h2>
  <a href="/">Home</a>
  <a href="/DAY-1/linux-essentials">Day 1</a>
</nav>

<main>
  <h1>Welcome to DevOps Tutorial</h1>

  <ul>
    <li>
      <a href="/DAY-1/linux-essentials">
        DAY-1: Linux Essentials
      </a>
    </li>
  </ul>
</main>

</body>
</html>